* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    background-color: #1F2937;

    padding-top: 15px;
    padding-bottom: 24px;
    justify-content: center;

}

header div
{
    width: 960px;
    display: flex;
    justify-content:space-between;
}

h1{
    font-size: 24px;
    color: #F9FAF8;





}

ul{
    list-style-type: none;
    white-space:nowrap;
    margin-top: 4px;



}

li{
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    margin-right: 10px;


}



