* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    background-color: #1F2937;

    padding-top: 15px;
    padding-bottom: 64px;
    justify-content: center;

}

header div
{
    width: 960px;
    display: flex;
    justify-content:space-between;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    list-style-type: none;
    white-space:nowrap;
    margin-top: 4px;
}

li{
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    margin-right: 10px;
}

#one
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

article
{
    display: flex;
    justify-content: space-between;
    width: 960px;
}

h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 400px;
}

.hero{
    margin-right: 32px;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

img{
    height: 310px;
    width: 430px;
}

button
{
    width: 90px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    margin-top:6px;
}

#two
{
    display: flex;
    justify-content: center;
}

#two article
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 24px;
}

div.catimages
{
    display: flex;
    justify-content: space-around;
        /*Adding the width: 100%; bade the justify-content finally work  */
    width: 100%;
}

figure img{
    height: 120px;
    width: 120px; 

    border-radius: 5px;
}

figcaption
{
    height: 120px;
    width: 120px;

}



